
<div id="vote_form">
  <% if user_signed_in? %>
    <% if (current_user.voted_down_on? album) || (!ActsAsVotable::Vote.where(voter_id: current_user,votable_id: album.id).present?) %>
      <%= link_to like_album_path(album), method: :post, remote: true, class: 'like' do%>
      <i class="fa fa-heart-o mt-2" style="color:rgb(67, 74, 153)"></i>
      <% end %>
    <% else %>
      <%= link_to dislike_album_path(album,0), method: :post, remote: true,class: 'dislike' do%>
      <i class="fa fa-heart mt-2" style="color:rgb(67, 74, 153)"></i>
      <% end %>
    <% end %>
    <span><small><%= album.get_upvotes.size %> </small></span>
    <span class="float-right mt-1"><small class="text-secondary "><%= album.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
    <% else %>
      <i class="fa fa-heart mt-2" style="color:rgb(67, 74, 153)"></i>
      <span><small><%= album.get_upvotes.size %> </small></span>
      <span class="float-right mt-1"><small class="text-secondary "><%= album.created_at.strftime("%I:%M %p %-d/%-m/%Y") %></small></span>
  <% end %>
</div>