<style type="text/css">
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .nav-item{
    color: white;
    font-weight: bold;
  }

  .nobd{
    background-color: #eee;
  }
  .leftpane {
    width: 15%;
    height: 100%;
    float: left;
    border-collapse: collapse;
  }

  .middlepane {
    margin-top: 20px;
    width: 70%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
  }

  .rightpane {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
  }
  .nw-ct{
    padding-top: 50px;
  }
  .des-scroll{
    height: 100px;
  }
  .photo-area{
    width: 45%;
  }
  .butn {
    background: #d920d3;
    background-image: -webkit-linear-gradient(top, #d920d3, #512cb8);
    background-image: -moz-linear-gradient(top, #d920d3, #512cb8);
    background-image: -ms-linear-gradient(top, #d920d3, #512cb8);
    background-image: -o-linear-gradient(top, #d920d3, #512cb8);
    background-image: linear-gradient(to bottom, #d920d3, #512cb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    height:20px;
    width:60px;
  }

  .butn:hover {
    background: #dc3cfc;
    background-image: -webkit-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -moz-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -ms-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -o-linear-gradient(top, #dc3cfc, #d93484);
    background-image: linear-gradient(to bottom, #dc3cfc, #d93484);
    color: white;
    text-decoration: none;
  }
</style>
<body class="nobd">
  <div class="leftpane">
    <div class="nw-ct text-center">
      <%= render "newfeeds"%>
    </div>
  </div>
  <div class="middlepane">
    <div class="row">
      <div class="m-auto p-3">
        <ul class="nav nav-tabs mx-auto" style="width: max-content;">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:active] == 'photo_page' or params[:active].nil?%>" data-toggle="tab" href="#photo">PHOTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:active] == 'album_page'%>" data-toggle="tab" href="#album">ALBUM</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="photo" class="container-fluid tab-pane <%= 'active' if params[:active] == 'photo_page' or params[:active].nil?%>">
            <div class="row">
             <% if @photos %>
             <% @photos.each do |photo| %>
             <div class="d-inline-flex w-50 p-2" >
              <div class="photo-area">
               <img title="<%=photo.title%>" desc="<%=photo.description%>" src="<%=photo.image.url%>"style="width:100%;height:100%;cursor:pointer" class="pop">
             </div>
             <div class="dis p-2" style="display:block;background-color:rgb(248, 248, 248);width:55%">
              <div class="container pl-0">
                <div class="d-flex">
                  <% if photo.user.avatar?%>
                  <img src="<%=photo.user.avatar.url%>" class="rounded-circle" alt="" />
                  <% else %>
                  <img src="/assets/default-user.png" class="rounded-circle" alt="" />
                  <% end %>
                  <span class="mt-2" style="font-size: 13px;"><%= link_to "#{photo.user.lastname} #{photo.user.firstname}", profile_path(photo.user.id),class: "text-Blue font-weight-bold" %></span>
                  <%if current_user %>
                  <% if photo.user.id !=  current_user.id %>
                  <% if current_user.following?(photo.user) %>
                  <%= form_for(current_user.active_relationships.find_by(followed_id: photo.user.id), html: { method: :delete }) do |f| %>
                  <%= f.submit "following", class: "butn mt-2 ml-2" %>
                  <%end%>
                  <% else %>
                  <%= form_for(current_user.active_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, photo.user.id %></div>
                  <%= f.submit "follow", class: "butn mt-2 ml-2"%>
                  <%end%>
                  <%end%>
                  <%end%>
                  <%end%>
                </div>
                <div></div>
                <span><b><%=photo.title%></b></span>
                <p class="des-scroll"><%=photo.description%></p>
                <%= render "vote_form", photo: photo%>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <%= will_paginate @photos, :remote => true, param_name: 'photo_page',renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { active: 'photo_page'} %>
        </div>
      </div>
      <div id="album" class="container-fluid tab-pane  <%= 'active' if params[:active] == 'album_page'%>">
        <div class="row">
          <% if @albums %>
          <% @albums.each do |album| %>
          <div class="d-inline-flex w-50 p-2" >
            <div class="photo-area" style="position: relative;">
              <img src="<%=album.pictures.first.image.url%>"style="position: absolute;transform: rotateZ(4deg);width:100%;height:214px;cursor:pointer" class="image img-thumbnail">
              <img src="<%=album.pictures.first.image%>"style="position: absolute;transform: rotateZ(8deg);width:100%;height:214px;cursor:pointer" class="image img-thumbnail show-modal-album" name="<%=album.id%>" data-toggle="modal" data-target="#modalAlbum">
              <img src="<%=album.pictures.first.image.url%>"style="width:100%;height:214px;cursor:pointer" class="image img-thumbnail">
            </div>
            <div class="dis p-2 " style="display:block;background-color:rgb(248, 248, 248);width:55%">
              <div class="container pl-1">
                <% if album.user.avatar?%>
                <img src="<%=album.user.avatar.url%>" class="rounded-circle" alt="" />
                <% else %>
                <img src="/assets/default-user.png" class="rounded-circle" alt="" />
                <% end %>
                <b><%= link_to "#{album.user.lastname} #{album.user.firstname}", profile_path(album.user.id),class: "text-Blue" %></b>
                <div></div>
                <span><b><%=album.title%></b></span>
                <p class="des-scroll"><%=album.description%></p>
                <%= render "vote_album_form", album: album%>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="d-flex justify-content-center">
          <%= will_paginate @albums, :remote => true, param_name: 'album_page',renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { active: 'album_page'} %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "modal" %>
</div>
<div class="rightpane">
</div>
</body>