<style type="text/css">
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .nav-item{
    color: white;
    font-weight: bold;
  }

  .nobd{
    background-color: #eee;
  }
  .leftpane {
    width: 15%;
    height: 100%;
    float: left;
    border-collapse: collapse;
  }

  .middlepane {
    margin-top: 20px;
    width: 70%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
  }

  .rightpane {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
  }
  .nw-ct{
    padding-top: 50px;
  }
  .des-scroll{
    height: 100px;
  }
  .photo-area{
    width: 45%;
  }
    .butn {
    background: #d920d3;
    background-image: -webkit-linear-gradient(top, #d920d3, #512cb8);
    background-image: -moz-linear-gradient(top, #d920d3, #512cb8);
    background-image: -ms-linear-gradient(top, #d920d3, #512cb8);
    background-image: -o-linear-gradient(top, #d920d3, #512cb8);
    background-image: linear-gradient(to bottom, #d920d3, #512cb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    height:20px;
    width:60px;
  }

  .butn:hover {
    background: #dc3cfc;
    background-image: -webkit-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -moz-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -ms-linear-gradient(top, #dc3cfc, #d93484);
    background-image: -o-linear-gradient(top, #dc3cfc, #d93484);
    background-image: linear-gradient(to bottom, #dc3cfc, #d93484);
    color: white;
    text-decoration: none;
  }
</style>
<body class="nobd">
  <div class="leftpane">
    <div class="nw-ct text-center">
      <%= render "newfeeds"%>
    </div>
  </div>
  <div class="middlepane">
    <div class="row">
      <div class="m-auto p-3">
        <ul class="nav nav-tabs mx-auto" style="width: max-content;">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:active] == 'photo_page' or params[:active].nil?%>" data-toggle="tab" href="#photo">PHOTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if params[:active] == 'album_page'%>" data-toggle="tab" href="#album">ALBUM</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="photo" class="container-fluid tab-pane <%= 'active' if params[:active] == 'photo_page' or params[:active].nil?%>">
            <div class="row">
              <%= render 'photo' %>
            </div>
        <div class="d-flex justify-content-center pt-3">
          <%= will_paginate @photos, :remote => true, param_name: 'photo_page',renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { active: 'photo_page'} %>
        </div>
        </div>
        <div id="album" class="container-fluid tab-pane <%= 'active' if params[:active] == 'album_page'%>">
        <div class="row">
          <%= render 'album' %>
        </div>
          <div class="d-flex justify-content-center pt-3">
          <%= will_paginate @albums, :remote => true, param_name: 'album_page',renderer: WillPaginate::ActionView::BootstrapLinkRenderer, params: { active: 'album_page'} %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "modal" %>
</div>
<div class="rightpane">
</div>
</body>