<!DOCTYPE html>
<html>
<head>
  <title>FotoBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand font-weight-bold" href="<%=root_path%>">Fotobook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="navbar-nav mr-auto nav-div">
      <input type="text" class="form-control" placeholder="Search"/>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <% if !current_user.nil? %>
        <% if current_user.admin == true%>
          <%= link_to "Dashboard", rails_admin_path,class: "text-dark mr-3" %>
        <% end %>
        <a href="<%=my_profile_path%>" class="text-white">
        <% if current_user.avatar?%>
        <img src="<%=current_user.avatar.url%>" class="rounded-circle" alt="" />
        <% else %>
        <img src="/assets/default-user.png" class="rounded-circle" alt="" />
        <% end %>
        <span><%="#{current_user.lastname} #{current_user.firstname}"%></span></a>
      </li>
      <li class="nav-item mt-2 pl-5">
        <%= link_to "Logout", destroy_user_session_path, class: "text-white",method: :delete %>
        <% else %>
        <%= link_to "Login", new_user_session_path,class: "text-white" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
<body>
  <%= yield %>
</body>
<script type="text/javascript">
  <%= sanitize custom_bootstrap_flash %>
</script>
</html>
