
<style>
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .nav-item .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .nav-item{
   padding-left: 50px;
 }

 .nav-item{
  color: white;
  font-weight: bold;
}

.nobd{
  background-color: #eee;
}
.leftpane {
  width: 15%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.middlepane {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  float: left;
  background-color: white;
  border-collapse: collapse;
/*    display: flex;
flex-wrap: wrap;*/
}

.rightpane {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
.nw-ct{
  padding-top: 50px;
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  bottom: 0%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-change {
  opacity: 0;
  width: 30%;
  height: 15%;
}
</style>
<body class="nobd">
  <div class="leftpane">
    <div class="nw-ct text-center">
      <a href="<%= root_path %>"><b>Feed</b></a>
      <br>
      <a href="feeds.html"><b>Discover</b></a>
    </div>
  </div>
  <div class="middlepane">
    <div class="container-fluid p-2">
      <div class="row">
        <div class="col-12">
          <p><b>Edit User Profile</b></p>
          <hr>
        </div>
      </div>
      <!-- <form class="pl-5 ml-lg-5"> -->


        <%= form_with model: @user, controller: 'users',action: 'update', local: true, method: 'put' do |f|%>
        <div class="form-group row">
          <!-- <div class="col-md-4"></div> -->
          <div class="col-md-4 container" id="image-preview">
            <% if @user.avatar?%>
            <img src="<%=current_user.avatar.url%>" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />
            <% else %>
            <img src="/assets/default-user.png" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />
            <% end %>
            <button class="btn" disabled>Change</button>
            <%= f.file_field :avatar, class: 'btn btn-change' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <h4 class="text-primary text-center">Basic Information</h4>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>First name</b></label>
          <div class="col-md-5">
            <!-- <input type="text" class="form-control" id="editFirstName" placeholder="First Name"> -->
            <%= f.text_field :firstname, class: "form-control", required: true,autofocus: true, maxlength: "25" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>Last name</b></label>
          <div class="col-md-5">
            <!-- <input type="text" class="form-control" id="editLastName" placeholder="Last Name"> -->
            <%= f.text_field :lastname, class: "form-control", required: true, maxlength: "25" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>Email</b></label>
          <div class="col-md-5">
            <!-- <input type="Email" class="form-control" id="editEmail" placeholder="Someone@example.com"> -->
            <%= f.text_field :email, type:"Email",class: "form-control", required: true, maxlength: "255" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <!-- <button type="submit" class="btn btn-success">Save</button> -->
            <%= f.submit "Save", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <h4 class="text-primary text-center">Password</h4>
          </div>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>Current Password</b></label>
          <div class="col-md-5">
            <%= f.password_field :current_password, class: "form-control", placeholder: "Enter current password"%>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>New Password</b></label>
          <div class="col-md-5">
            <%= f.password_field :password, class: "form-control", placeholder: "Enter new password" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label d-flex justify-content-end"><b>Password Confirm</b></label>
          <div class="col-md-5">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter new password confirmation"%>
            <span id='message'></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <%= f.submit "Save", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="rightpane">
    </div>
  </body>
  <script type="text/javascript">
    function choose() {
  // Photo preview on album create
  var preview = $("#image-preview");
  $("#user_avatar").change(function(event){
   var input = $(event.currentTarget);
   var files = input[0].files;
   for (var i = 0; i < files.length; i++){
    var file = files[i]
    var reader = new FileReader();
    reader.onload = function(e){
      $("#image-preview img").remove();
      image_base64 = e.target.result;
      if(image_base64){
       var html = ' <div class="img float-left mt-2 mr-1"><div ng-repeat="file in imagefinaldata" class="img_wrp"><img src="' + image_base64 + '" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />'
       preview.append(html);
     }
   };
   reader.readAsDataURL(files[i]);
 };
});
}
$(document).ready(function(){
  choose();
}
);
</script>
