<style type="text/css">
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .nav-item .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .nav-item{
   padding-left: 50px;
 }
 .form-signin
 {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading, .form-signin .checkbox
 {
   margin-bottom: 10px;
 }
 .form-signin .checkbox
 {
   font-weight: normal;
 }
 .form-signin .form-control
 {
   position: relative;
   font-size: 16px;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .form-signin .form-control:focus
 {
   z-index: 2;
 }
 .form-signin input[type="text"]
 {
   margin-bottom: -1px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
 }
 .form-signin input[type="password"]
 {
   margin-bottom: 10px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }
 .account-wall
 {
   margin-top: 20px;
   padding: 40px 0px 20px 0px;
   background-color: #f7f7f7;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }
 .login-title
 {
   font-size: 30px;
   font-weight: bold;
   display: block;
 }
 .profile-img
 {
   width: 96px;
   height: 96px;
   margin: 0 auto 10px;
   display: block;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
 }
 .need-help
 {
   margin-top: 10px;
 }
 .new-account{
   padding-left: 120px;
 }
 .nav-item{
  color: white;
  font-weight: bold;
}





.nobd{
  background-color: #eee;
}
.leftpane {
  width: 15%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.middlepane {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  float: left;
  background-color: white;
  border-collapse: collapse;
/*    display: flex;
flex-wrap: wrap;*/
}

.rightpane {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
.nw-ct{
  padding-top: 50px;
}

.btn{
  margin-right: -10px;
}
.btn-ct{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 400px;
}
.btn-ct button{
  background-color: #365899;
}
.btn-ct button:hover {
  background-color: white;
  color: #365899;
}
.bbb{
  display: flex;
  flex-wrap: wrap;
}
.vvv{
  height: 250px;
  max-width: 50px;
}
.vvv p {
  height: 150px;
  overflow: scroll;
}
.vvv img{
/*  width: 100%
max-width: 200px;*/
width: 200px;
border-top-left-radius: 5px;
cursor: pointer;
transition: 0.3s;
}
.vvv img:hover {opacity: 0.7;}

  .container {
    background-color: #eee;
  }
  .img-album img{
    width: 180px;
    height: 220px;
    padding-top: 20px;
    padding-left: 10px;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
</style>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="#">Fotobook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="navbar-nav mr-auto nav-div">
      <input type="text" class="form-control" placeholder="Search"/>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path,class: "text-white" %>
      </li>
    </ul>
  </div>
</nav>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 m-auto pt-4">
          <h1 class="text-center login-title text-primary">Fotobook Login</h1>
          <div class="form-icon border">
            <div class="row">
              <div class="col-4 col-xs-8">
                <a href="#"><img src="/assets/google.png" class="rounded-circle img-fluid"></a>
              </div>
              <div class="col-4 col-xs-8">
                <a href="#"><img src="/assets/facebook.png" class="rounded-circle img-fluid"></a>
              </div>
              <div class="col-4 col-xs-8">
                <a href="#"><img src="/assets/twitter.png" class="rounded-circle img-fluid"></a>
              </div>
            </div>
          </div>
          <div class="account-wall">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "form-signin"}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <label>First Name</label>
          <%= f.text_field :firstname, class: "form-control", placeholder: "First Name", required: true,autofocus: true, maxlength: "25" %>
          <label>Last Name</label>
          <%= f.text_field :lastname, class: "form-control", placeholder: "Last Name", required: true, maxlength: "25" %>
          <label>Email</label>
          <%= f.text_field :email, type:"Email",class: "form-control", placeholder: "Email", required: true, maxlength: "255" %>
          <label>Password</label>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, id:"password", placeholder: "Enter password",required: true, maxlength: "64", class: "form-control" %>
          <label>Password Confirm</label>
          <%= f.password_field :password_confirmation, class: "form-control", id:"password_confirm", placeholder: "Enter password confirmation", required: true, maxlength: "64" %>
          <span id='message'></span>
          <div class="clearfix"></div>
          <div class="text-center">
            <%= f.submit "Register", class: "btn btn-lg btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  $('#password, #password_confirm').on('keyup', function () {
    if ($('#password').val() == $('#password_confirm').val()) {
      $('#message').html('Password Matching').css('color', 'green');
    } else
    $('#message').html('Password Not Matching').css('color', 'red');
  });
</script>

