<style type="text/css">
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .nav-item{
    color: white;
    font-weight: bold;
  }

  .nobd{
    background-color: #eee;
  }
  .leftpane {
    width: 15%;
    height: 100%;
    float: left;
    border-collapse: collapse;
  }

  .middlepane {
    margin-top: 20px;
    width: 70%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
  }

  .rightpane {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
  }
  .nw-ct{
    padding-top: 50px;
  }
  .des-scroll{
    height: 100px;
  }
</style>
<body class="nobd">
  <div class="leftpane">
    <div class="nw-ct text-center">
      <a href="feeds.html"><b>Feed</b></a>
      <br>
      <a href="feeds.html"><b>Discover</b></a>
    </div>
  </div>
  <div class="middlepane">
    <div class="row">
      <div class="m-auto p-3">
        <ul class="nav nav-tabs mx-auto" style="width: max-content;">
          <li class="nav-item">
            <a class="nav-link active broder" data-toggle="tab" href="#photo">PHOTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#album">ALBUM</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="photo" class="container-fluid tab-pane active">
            <div class="row">
             <% @photos.each do |photo| %>
             <div class="d-inline-flex w-50 p-2" >
              <div class="container1 w-50">
               <!--  <img src="/assets/img.jpg"style="width:100%;height:274px;cursor:pointer" onclick="onClick(this)" class="modal-hover-opacity rounded-left"> -->
               <img title="<%=photo.title%>" src="<%=photo.image.url%>"style="width:100%;height:224px;cursor:pointer" class="pop">
             </div>
             <div class="dis p-2" style="display:block;background-color:rgb(248, 248, 248);width:50%">
              <div class="container pl-1">
                <% if photo.user.avatar?%>
                <img src="<%=photo.user.avatar.url%>" class="rounded-circle" alt="" />
                <% else %>
                <img src="/assets/default-user.png" class="rounded-circle" alt="" />
                <% end %>
                <b><%= link_to "#{photo.user.lastname} #{photo.user.firstname}", myProfile_path,class: "text-Blue" %></b>
                <div></div>
                <span><b><%=photo.title%></b></span>
                <p class="des-scroll"><%=photo.description%></p>
                <div class="heart">
                  <i class="fa fa-heart mt-2" style="color:rgb(67, 74, 153)"></i>
                  <span><%= photo.updated_at%> </span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div id="album" class="container-fluid tab-pane fade">
        <div class="row">
         <% @albums.each do |album| %>
         <div class="d-inline-flex w-50 p-2" >
          <div class="container1 w-50 pl-2" style="position: relative;">
           <!--  <img src="/assets/img.jpg"style="width:100%;height:274px;cursor:pointer" onclick="onClick(this)" class="modal-hover-opacity rounded-left"> -->
           <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail',style: 'position: absolute;transform: rotateZ(4deg);width:90%;height:214px;cursor:pointer') %>
           <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail',style: 'position: absolute;transform: rotateZ(8deg);width:90%;height:214px;cursor:pointer') %>
           <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail',style: 'width:90%;height:214px;cursor:pointer') %>
         </div>
         <div class="dis p-2 " style="display:block;background-color:rgb(248, 248, 248);width:50%">
          <div class="container pl-1">
            <%= image_tag("#{current_user.avatar}", class: "rounded-circle")%>
            <b><%= link_to "#{current_user.lastname} #{current_user.firstname}", myProfile_path,class: "text-Blue" %></b>
            <div></div>
            <span><b><%=album.title%></b></span>
            <p class="des-scroll"><%=album.description%></p>
            <div class="heart">
              <i class="fa fa-heart mt-2" style="color:rgb(67, 74, 153)"></i>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 id="photo-title" value="">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

</div>
<div class="rightpane">
</div>
</body>
<script>
  $(function() {
    $('.pop').on('click', function() {
      // alert($(this).attr("title"));
      // document.getElementById("demo").innerHTML = "Paragraph changed!";
      $('.imagepreview').attr('src', $(this).attr('src'));
      document.getElementById("photo-title").innerHTML = $(this).attr("title");
      $('#myModal').modal('show');
    });
    $('.popAlbum').on('click', function() {
      $('#myAlbumModal').modal('show');
    });
  });
</script>
</html>