<style>
  .nav-div{
    width: 400px;
  }
  @media screen and (min-width: 600px){
    .nav-div{
      width:300px;
    }
  }
  .nav-item .rounded-circle{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .nav-item{
   padding-left: 50px;
 }

 .nav-item{
  color: white;
  font-weight: bold;
}

.nobd{
  background-color: #eee;
}
.leftpane {
  width: 15%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.middlepane {
  margin-top: 20px;
  width: 70%;
  height: 100%;
  float: left;
  background-color: white;
  border-collapse: collapse;
/*  display: flex;
flex-wrap: wrap;*/
}

.rightpane {
  width: 15%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
.nw-ct{
  padding-top: 50px;
}

.image{
  width: 150px;
  height: 150px;
  margin:15px;
  margin-left: 50px;
  border-radius: 5px;
}
.pull-down {
  position: absolute;
  bottom: 3px;
  right: 0px;
  height: 25px;
  width: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.5;
}
.pull-up{
  position: absolute;
  top: 15px;
  right: 18px;
  color: red;
}
.images .btn:hover {
  background-color: black;
}
.butn {
  background: #d920d3;
  background-image: -webkit-linear-gradient(top, #d920d3, #512cb8);
  background-image: -moz-linear-gradient(top, #d920d3, #512cb8);
  background-image: -ms-linear-gradient(top, #d920d3, #512cb8);
  background-image: -o-linear-gradient(top, #d920d3, #512cb8);
  background-image: linear-gradient(to bottom, #d920d3, #512cb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 20px 6px 20px;
  text-decoration: none;
  font-weight: bold;
}

.butn:hover {
  background: #dc3cfc;
  background-image: -webkit-linear-gradient(top, #dc3cfc, #d93484);
  background-image: -moz-linear-gradient(top, #dc3cfc, #d93484);
  background-image: -ms-linear-gradient(top, #dc3cfc, #d93484);
  background-image: -o-linear-gradient(top, #dc3cfc, #d93484);
  background-image: linear-gradient(to bottom, #dc3cfc, #d93484);
  color: white;
  text-decoration: none;
}
</style>
<body class="nobd">
  <div class="leftpane">
    <div class="nw-ct text-center">
      <!-- <a href="feeds.html"><b>Feed</b></a> -->
      <%= link_to "Feed", feed_path,class: 'font-weight-bold' %>
      <br>
      <%= link_to "Discover", discover_path,class: 'font-weight-bold' %>
    </div>
  </div>
  <div class="middlepane">
    <div class="container" style="background-color: white">
      <br />
      <div class="row">
        <!--Avatar-->
        <div class="col-md-3">
          <% if @another_users.avatar?%>
          <img src="<%=@another_users.avatar.url%>" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />
          <% else %>
          <img src="/assets/default-user.png" class="profile-avatar w-75 ml-5 rounded-circle" alt="" />
          <% end %>
        </div>
        <div class="col-mid-8">
          <% unless current_user.nil? %>
          <% if current_user.following?(@another_users) %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: @another_users.id), html: { method: :delete }) do |f| %>
          <div class="mb-3">
            <%= f.submit "following", class: "btn butn" %>
          </div>
          <%end%>
          <% else %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
          <div class="mb-3">
            <div><%= hidden_field_tag :followed_id, @another_users.id %></div>
            <!-- <button class="btn btn-primary">follow</button> -->
            <%= f.submit "follow", class: "btn butn" %>
          </div>
          <%end%>
          <%end%>
          <%end%>
          <h3 class="text-dark font-weight-bold"><%= "#{@another_users.lastname} #{@another_users.firstname}"%></h3>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#photo"> <%= @photos.size %> Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#album"> <%= @albums.size %> Albums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#followings"><%=@another_users.following.count%> Followings</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#followers"><%=@another_users.followers.count%> Followers</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
        <div id="photo" class="tab-pane active" >
          <div class="d-flex flex-wrap">
            <% @photos.each do |photo| %>
            <div class="photo text-center">
              <div class="images" style="position: relative;">
                <%= link_to image_tag(photo.image.url, class: 'image'), photo.image.url, target: '_blank' %>
              </div>
              <div class="title ml-4 mt-n3">
                <%= photo.title %>
              </div>
            </div>
            <% end %>
          </div>
        </div>

        <!--Album--->
        <div id="album" class="tab-pane fade" >
          <div class="d-flex flex-wrap justify-content-start">
            <% @albums.each do |album| %>
            <div class="albums" >
              <div class="images mt-2" style="position: relative;">
                <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail',style: 'position: absolute;transform: rotateZ(4deg);') %>
                <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail',style: 'position: absolute;transform: rotateZ(8deg);') %>
                <%= image_tag(album.pictures.first.image.url, class: 'image img-thumbnail') %>
              </div>
              <p class="text-center"><%=album.title%></p>
            </div>
            <% end %>
          </div>
        </div>

        <!--followings--->
        <div id="followings" class="tab-pane fade pt-3" >
          <div class="d-flex flex-wrap justify-content-start">
            <% @user_followings.each do |u| %>
            <div class="w-25">
              <div class="card container" style="width: 90%">
                <div class="text-center">
                  <% if u.avatar?%>
                  <img src="<%=u.avatar.url%>" class="profile-avatar w-50 mt-3 rounded-circle"/>
                  <% else %>
                  <img src="/assets/default-user.png" class="profile-avatar w-50 mt-3 rounded-circle"/>
                  <% end %>
                  <p class="font-weight-bold"><a href="<%= profile_path(u.id)%>" class="text-dark text-center"><%="#{u.lastname} #{u.firstname}"%></a><p>
                </div>
                <div class="d-flex text-center">
                  <div class="w-50">
                    <h4 class="text-primary font-weight-bold"><%=u.photos.size%></h4>
                    <p class="text-primary">PHOTOS</p>
                  </div>
                  <div class="w-50">
                    <h4 class="text-primary font-weight-bold"><%=u.albums.size%></h4>
                    <p class="text-primary">ALBUMS</p>
                  </div>
                </div>
                <% unless current_user.nil? %>
                <% if current_user.following?(u) %>
                <%= form_for(current_user.active_relationships.find_by(followed_id: u.id), html: { method: :delete }) do |f| %>
                <div class="text-center mb-3">
                  <%= f.submit "following", class: "btn butn" %>
                </div>
                <%end%>
                <% elsif current_user.id == u.id %>
                <div class="text-center mb-3">
                  <button class="btn butn">It's me</button>
                </div>
                <% else %>
                <%= form_for(current_user.active_relationships.build) do |f| %>
                <div class="text-center mb-3">
                  <div><%= hidden_field_tag :followed_id, u.id %></div>
                  <!-- <button class="btn btn-primary">follow</button> -->
                  <%= f.submit "Follow", class: "btn butn "%>
                </div>
                <%end%>
                <%end%>
                <%end%>
              </div>
            </div>
            <% end %>
          </div>
        </div>

        <!--followers--->
        <div id="followers" class="tab-pane fade pt-3" >
          <div class="d-flex flex-wrap justify-content-start">
            <% @user_followers.each do |u| %>
            <div class="w-25">
              <div class="card container" style="width: 90%">
                <div class="text-center">
                  <% if u.avatar?%>
                  <img src="<%=u.avatar.url%>" class="profile-avatar w-50 mt-3 rounded-circle"/>
                  <% else %>
                  <img src="/assets/default-user.png" class="profile-avatar w-50 mt-3 rounded-circle"/>
                  <% end %>
                  <p class="font-weight-bold"><a href="<%= profile_path(u.id)%>" class="text-dark text-center"><%="#{u.lastname} #{u.firstname}"%></a><p>
                </div>
                <div class="d-flex text-center">
                  <div class="w-50">
                    <h4 class="text-primary font-weight-bold"><%=u.photos.size%></h4>
                    <p class="text-primary">PHOTOS</p>
                  </div>
                  <div class="w-50">
                    <h4 class="text-primary font-weight-bold"><%=u.albums.size%></h4>
                    <p class="text-primary">ALBUMS</p>
                  </div>
                </div>
                <% unless current_user.nil? %>
                <% if current_user.following?(u) %>
                <%= form_for(current_user.active_relationships.find_by(followed_id: u.id), html: { method: :delete }) do |f| %>
                <div class="text-center mb-3">
                  <%= f.submit "following", class: "btn butn" %>
                </div>
                <%end%>
                <% elsif current_user.id == u.id %>
                <div class="text-center mb-3">
                  <button class="btn butn">It's me</button>
                </div>
                <% else %>
                <%= form_for(current_user.active_relationships.build) do |f| %>
                <div class="text-center mb-3">
                  <div><%= hidden_field_tag :followed_id, u.id %></div>
                  <!-- <button class="btn btn-primary">follow</button> -->
                  <%= f.submit "Follow", class: "btn butn" %>
                </div>
                <%end%>
                <%end%>
                <%end%>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightpane">
  </div>
</body>